<div class="chat-container">

    <img src="/uploads/2024-02-20T18-30-50.215Z-background.png" alt="Fondo chat">
    <nav>
        <h1>Chat</h1>
        <img src="/uploads/2024-02-20T18-30-50.220Z-cam-recorder.png" alt="Icon camera">
        <img src="/uploads/2024-02-20T18-30-50.215Z-phone-solid.png" alt="Icon phone">
        <img src="/uploads/2024-02-20T18-30-50.221Z-more.png" alt="Icon more">
    </nav>
    <div class="messages">
        {{#each messages}}
        <ul>
            <li>{{user}}</li>
            <li class="li-mensaje">{{message}}</li>
        </ul>
        {{/each}}
    </div>
    <div class="form-container">
        <form action="/api/chat" method="POST">
            <label for="user">User:</label>
            <input type="text" id="user" name="user" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Send</button>

        </form>
    </div>

</div>