@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* ESTILOS PARA EL HEADER */

header {
    width: 100%;
    height: 7vh;
    min-height: 7vh;
    background-color: rgb(49, 34, 68, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    margin: 0 20px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header ul li {
    margin-left: 30px;
}

header ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease, padding-right .3s ease, border-right 0.2s ease;
}

header ul li a:hover {
    padding-right: 5px;
    border-right: 2px solid #fff;
}

header>a {
    font-weight: bold;
    margin-left: 30px;
    width: 60px;
    height: 80%;
}

header>a>img {
    height: 100%;
    filter: sepia(100%) saturate(0%) brightness(1000%) hue-rotate(120deg);
}

/* Estilo para el botón Get Cookie */
.get-cookie {
    background-color: transparent;
    color: #fff;
    border: 1px solid #7D5B8B;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Cambia el estilo del botón al pasar el mouse */
.get-cookie:hover {
    background-color: #7D5B8B;
    color: #fff;
}

/* ----------------------------------------------- */
/* ESTILOS PARA EL FONDO Y MAIN */
main {
    min-height: 100vh;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-container img {
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------ */

/* ESTILOS PARA EL CHAT */
.chat-container {
    width: 550px;
    min-height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.chat-container>img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    background-color: #3E7C59;
}

nav h1 {
    margin-right: auto;
    margin-left: 20px;
    color: #fff;

}

nav img {
    width: 25px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.messages ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.messages ul li {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.messages ul li:first-child {
    font-weight: bold;
    font-size: 18px;
}

.li-mensaje {
    margin-left: 10px;
    background-color: rgba(66, 138, 98, 0.712);
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
}

.form-container {
    padding: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.form-container input[type="text"],
textarea {
    padding: 5px;
    margin-bottom: 10px;
}

.form-container button {
    padding: 15px 10px;
    background-color: rgb(91, 218, 87);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.icon-chat {
    position: fixed;
    top: 89%;
    right: 30px;
    transform: translateY(80%);
    background-color: rgba(159, 134, 192, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}

.icon-chat:hover {
    transform: translateY(60%) scale(1.1);
}

.icon-chat>a {
    display: block;
    text-decoration: none;
}

.icon-chat>a>img {
    width: 60%;
    object-fit: cover;
    margin: 5px 0 0 12px;
}

.icon-chat .icon-clock-chat {
    filter: brightness(0%);
    margin: 5px 0 0 10px;
}

/* -------------------------------------------------------------- */

/* ESTILOS PARA LA PAGE PRODUCTS */
h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #fff;
}

.products-container {
    width: 78rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    margin: 100px 180px 0 auto;
}

.products-container>h1 {
    width: 100%;
    font-size: 24px;
    text-align: start;
    grid-column: 1 / -1;
    padding-bottom: 10px;
    border-bottom: 1px solid #9F86C0;
}

.product-card {
    background-color: rgba(159, 134, 192, 0.5);
    border: 2px solid rgba(159, 134, 192, 0.5);
    border-radius: 20px;
    width: 380px;
    height: auto;
    min-height: 350px;
    box-sizing: border-box;
    color: #fff;
}

.product-card>div {
    padding: 4px 4px 0 4px;
}

.product-card>div>img {
    object-fit: cover;
    width: 100%;
    max-height: 212px;
    border-radius: 14px;
}

.product-card .content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px 12px;
    width: 354px;
    height: 206px;
}

.product-card .content-card>h2 {
    margin: 0;
    font-size: 17px;
    color: #fff;
}

.product-card .content-card>p {
    margin: 8px 0;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.product-card .content-card .price {
    font-weight: 600;
}

.product-card .content-card>button {
    color: #fff !important;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, #7D5B8B, #A787B7);
    margin-top: 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card .content-card>button:hover {
    background: linear-gradient(45deg, #59435E, #875699);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* Ajustes para la paginación */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #7D5B8B;
}

.pagination>a {
    color: #fff;
    width: 78px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #7D5B8B;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination>a:hover {
    background-color: #7D5B8B;
    color: #fff;
}

.pagination>span {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

/* ------------------------------------------------------------- */

/* PAGINA DEL CARRITO Y EL MENU DESPLEGABLE */
/* Estilo para el botón del carrito */
.dropbtn {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-content {
    right: 20px;
    top: 42px;
    display: none;
    position: absolute;
    background-color: rgba(125, 91, 139, 0.8);
    /* Color con transparencia para dar efecto */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el estilo del menú desplegable cuando se pasa el mouse */
.dropdown-content a:hover {
    color: #fff;
    background-color: rgba(125, 91, 139, 1);
    /* Color más sólido al pasar el mouse */
}

/* Muestra el menú desplegable cuando se pasa el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* ------------------------------------------------------------ */

/* Estilos para la tabla del carrito */
.cart-container>h1 {
    margin: 50px 0 40px 0;
    color: #fff;
    /* Color del texto */
}

.cart-container .table-container {
    width: 80%;
    margin: 0 auto;
}

.cart-container .table-container table {
    width: 100%;
    border-collapse: collapse;
}

.cart-container .table-container table th,
.cart-container .table-container table td {
    padding: 8px;
    text-align: left;
}

.cart-container .table-container table tr {
    border-top: 1px solid #ccc;
    background-color: rgba(125, 91, 139, 0.8);
    /* Color de fondo con transparencia */
}

.cart-container .table-container table th {
    padding: 12px 0 12px 12px;
    text-align: left;
    background-color: #7D5B8B;
    /* Color de fondo del encabezado */
    color: #fff;
    /* Color del texto del encabezado */
}

.cart-container .table-container table td {
    width: 180px;
    height: auto;
    padding: 40px 20px 0 12px;
    color: #fff;
    /* Color del texto */
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    vertical-align: top;
}

.cart-container .table-container .td-item {
    padding: 20px;
    width: 50%;
}

.cart-container .table-container .td-item-container {
    width: 100%;
    display: flex;
}

.cart-container .table-container table tr .td-item .td-item-container img {
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.cart-container .table-container .td-item .td-item-container .td-product-title {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 0 20px;
}

.cart-container .table-container .td-remove {
    text-align: center;
}

/* ESTILOS PARA LOGIN Y REGISTER */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../uploads/background-login.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(159, 134, 192, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.login-container .form-value form h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.login-container .form-value form .input-box {
    position: relative;
    margin: 20px 0;
    width: 310px;
}

.login-container .form-value form .input-box label {
    position: absolute;
    top: 15px;
    left: 0px;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}

/* Aplicar estilos al input y al label cuando el input está enfocado o tiene contenido */
.login-container .form-value form .input-box input:focus~label,
.login-container .form-value form .input-box input.has-content~label {
    top: -10px;
}

.login-container .form-value form .input-box input {
    width: 100%;
    height: 40px;
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #9F86C0;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.login-container .form-value form button {
    width: 100%;
    height: 40px;
    margin: 20px 0 0 0;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #000;
}

.login-container .form-value form .login-register {
    font-size: .9em;
    font-weight: 300;
    text-align: center;
}

.login-container .form-value form .login-register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.login-container .form-value form .login-register p a:hover {
    text-decoration: underline;
}

/* ESTILOS PARA EL ERROR EN EL LOGIN */
.error-message {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    width: auto;
}